*.swo
*.swp
.DS_Store
.bundle
.rvmrc
.ruby-version
.tool-versions
.ruby-gemset
.sass-cache
config/database.yml
log/**/*.log
*.log
private/*
public/cache/*
public/index.html
public/interchange/*
/tmp/*
tmtags
*.tmproj
*~
.idea/
dump.rdb
Procfile
Vagrantfile
.vagrant
db/*.sqlite3
.pry_history
*.rails32
*.rails40
.byebug_history
.env.docker
run.rb
id_rsa
.env
.env.development
.rspec-local
/node_modules
/yarn-error.log
log/development.lo
