<main role="main" class="inner cover">
  <h1 class="cover-heading">Smart Parking</h1>
  <p class="lead-slogan">Uma maneira inteligente de encontrar a vaga mais próxima de você. Opa, encontramos! Viu como foi rápido?</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Quero uma vaga</a>
  </p>
</main>
